@import "../../app/base.scss";
@import "../../app//globals.scss";
/* CalculatorForm.css */

.calculator-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .calculator-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .calculator-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .calculator-item p {
    margin: 5px 0;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .cart-summary {
    margin-top: 30px;
  }
  
  .cart-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-summary li {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .total-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }
  