.service_banner {
    height: 300px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    &__container {
      position: relative;
      z-index: 2;
      text-align: center;
    }
  
    .text_overlay {
      background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      padding: 1rem 2rem;
      border-radius: 8px;
      display: inline-block;
  
      h1 {
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  